/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.5em 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .create-album, .album {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 45%;
  }
  
  .create-album h2, .album h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input[type="text"], input[type="file"] {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="file"] {
    margin-bottom: 2em;
  }
  
  button[type="submit"], #view-all-btn {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: #00bcd4;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover, #view-all-btn:hover {
    background-color: #0097a7;
  }
  
  button[type="submit"], #view-all-btn {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: #00bcd4;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover, #view-all-btn:hover {
    background-color: #0097a7;
  }