* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f2f2f2;
}

.form-container {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 300px;
}

header{
    text-align: center;
    color: lightblue;
}

h2 {
	margin-bottom: 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button[type=submit]{
	background-color: #43ff32;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover [type=submit]{
	background-color: #3e8e41;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    position:relative; 
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
  }
  
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  body {
    background-color: #b6b3c1;
  }
  
